<!DOCTYPE html>
<html>
      <head>
            <title> {{page.title}} </title>
            <link rel="stylesheet" type="text/css" href="/css/main.css">
      </head>
      <body>
            <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca de nosotros</a></li>
                 <li><a href="/tareas">Avance Semanal</a></li>
                <li><a href="/project">Proyecto</a></li>
                
             </ul>
             </nav>
             <div class="container">
             
             {{ content }}
             
              </div>
              <footer>
              <ul>
                    <li><a href="mailto: sebastian.melendez@upch.pe gloria.moron@upch.pe yhanira.medina@upch alberto.yauri@upch.pe ">Correo Electrónico</a></li>
                    <li><a href="https://github.com/proyectpgp3/">Nuestro repositorio en GitHub</a></li>
                </ul>
                </footer>
         </body>
</html> 
